{% extends 'base_back.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
<section class="section about-section gray-bg" id="about">
    <div class="container" style="padding-top: 20px;">
        <div class="row align-items-center ">
            <div class="col-lg-6">
                <div class="about-text go-to">
                    <h3 class="dark-color">About Me</h3>
                   
                    <p>{{app.user.bio}}.</p>
                    <div class="row about-list">
                        <div class="col-md-6">
                            <div class="media">
                                <label>Birthday</label>
                                {{ app.user.date|date('Y-m-d') }}
                            </div>
                            <div class="media">
                                <label>Age</label>
                                {# Calculate age #}
    {% if app.user.date %}
        {% set age = date('now').diff(app.user.date).y %}
        <p>{{ age }} Yr</p>
    {% else %}
        <p>N/A</p>
    {% endif %}
                            </div>
                            <div class="media">
                                <label>Address</label>
                                <p>{{app.user.address}}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <label>E-mail</label>
                                <p>{{app.user.email}}</p>
                            </div>
                            <div class="media">
                                <label>Phone</label>
                                <p>{{app.user.telephone}}</p>
                            </div>
                            <div class="media">
                                <label>CIN</label>
                                <p>{{app.user.cin}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-avatar" style="padding: 10px;">
                    <img src="{{ asset('back/img/hadil.jpg') }}" title="" alt="" style="max-width: 500px; height: 450px;">
                </div>
            </div>
        </div>
        
</section>
{% endblock %}
