{% extends 'base.html.twig' %}

{% block title %}Location de matériel{% endblock %}

{% block body %}
<div class="container mt-5">
  <h1 class="text-center mb-4">Packs matériels disponibles</h1>
  <div class="row row-gap-2">
    {% for PackMateriel in PackMateriels %}
      <div class="col-md-4">
        <div class="card border-radius: 10px shadow-sm h-100">
          <img src="{{ asset(PackMateriel.image) }}" class="card-img-top aspect-ratio-16/9" alt="{{ PackMateriel.libelle }}">
          <div class="card-body p-4">
            <h5 class="card-title text-center mb-3">{{ PackMateriel.libelle }}</h5>
            <p class="card-text text-center">{{ PackMateriel.description | slice(0, 60) }}</p>
            <p class="card-text text-center mb-3">Prix: {{ PackMateriel.prix }} DT</p>
            <a href="{{ path('louer_materiel', {'id': PackMateriel.id}) }}" class="btn btn-primary w-100">Louer</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
