{% extends 'base_back.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
    <h1>Utilisateur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Cin</th>
                <th>Fonction</th>
                <th>Mot_de_passe</th>
                <th>Email</th>
                <th>Equipe</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.cin }}</td>
                <td>{{ utilisateur.fonction }}</td>
                <td>{{ utilisateur.motDePasse }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>
    {% if utilisateur.equipe is not null %}
        {{ utilisateur.equipe.nom }}
    {% else %}
        No Equipe
    {% endif %}
</td>
                <td>
                    <a href="{{ path('app_utilisateur_show', {'id': utilisateur.id}) }}">show</a>
                    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>
                    <a href="{{ path('app_utilisateur_delete', {'id': utilisateur.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
