{% extends 'base_back.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Utilisateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ utilisateur.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ utilisateur.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ utilisateur.prenom }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ utilisateur.cin }}</td>
            </tr>
            <tr>
                <th>Fonction</th>
                <td>{{ utilisateur.fonction }}</td>
            </tr>
            <tr>
                <th>Mot_de_passe</th>
                <td>{{ utilisateur.motDePasse }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ utilisateur.email }}</td>
            </tr>
            <tr>
                <th>Equipe</th>
                 <td>
    {% if utilisateur.equipe is not null %}
        {{ utilisateur.equipe.nom }}
    {% else %}
        No Equipe
    {% endif %}
</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_utilisateur_index') }}">back to list</a>

    <a href="{{ path('app_utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>

{% endblock %}
