{% extends 'base.html.twig' %}

{% block title %}Chantier index{% endblock %}

{% block body %}
    <h1>Projects</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Nom</th>
                <th>Description</th>
                <th>Remuneration</th>
                <th>Start_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for chantier in chantiers %}
            <tr>

                <td>{{ chantier.nom }}</td>
                <td>{{ chantier.Description }}</td>
                <td>{{ chantier.remuneration }}</td>
                <td>{{ chantier.StartDate ? chantier.StartDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('show_chantier', {'id': chantier.id}) }}">show</a>
                    <a href="{{ path('update_chantier', {'id': chantier.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('new_chantier') }}">Create new</a>
{% endblock %}
