{% extends 'base.html.twig' %}

{% block title %}Chantier{% endblock %}

{% block body %}
    <h1>Chantier</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Nom</th>
                <td>{{ chantier.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ chantier.Description }}</td>
            </tr>
            <tr>
                <th>Remuneration</th>
                <td>{{ chantier.remuneration }}</td>
            </tr>
            <tr>
                <th>Start_date</th>
                <td>{{ chantier.StartDate ? chantier.StartDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('chantier_index') }}">back to list</a>
    <br>

    <a href="{{ path('update_chantier', {'id': chantier.id}) }}">edit</a>

    {{ include('chantier_crud/_delete_form.html.twig') }}
{% endblock %}
